In [4]:
import matplotlib as mpl
import pandas as pd

In [18]:
df = pd.read_csv("student-db/student-merged.csv")
display(df)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,absences_mat,G1_mat,G2_mat,G3_mat,failures_por,paid_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,6,5,6,6,0,no,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,4,5,5,6,0,no,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,10,7,8,10,0,no,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,15,14,15,0,no,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,6,10,10,0,no,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,F,19,R,GT3,T,2,3,services,other,...,0,7,5,0,1,no,4,10,11,10
366,MS,F,18,U,LE3,T,3,1,teacher,services,...,0,7,9,8,0,no,4,15,15,16
367,MS,F,18,U,GT3,T,1,1,other,other,...,0,6,5,0,0,no,6,11,12,9
368,MS,M,17,U,LE3,T,3,1,services,services,...,3,14,16,16,0,no,6,10,10,10
369,MS,M,18,R,LE3,T,3,2,services,other,...,0,11,12,10,0,no,4,10,11,11

In [30]:
display(df["school"].value_counts())
display(df["Pstatus"].value_counts())
display(df["paid_por"].value_counts())
display(df["paid_mat"].value_counts())

school
GP    331
MS     39
Name: count, dtype: int64

Pstatus
T    332
A     38
Name: count, dtype: int64

paid_por
no     345
yes     25
Name: count, dtype: int64

paid_mat
no     196
yes    174
Name: count, dtype: int64

In [31]:
def delete_MS_lines(df:pd.DataFrame):
    filter = (df["school"] == "MS")
    return df.loc[~filter].reset_index(drop=True)

df = delete_MS_lines(df)
display(df)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,absences_mat,G1_mat,G2_mat,G3_mat,failures_por,paid_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,6,5,6,6,0,no,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,4,5,5,6,0,no,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,10,7,8,10,0,no,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,15,14,15,0,no,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,6,10,10,0,no,0,11,13,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,GP,F,18,U,GT3,T,2,3,at_home,other,...,4,11,10,10,0,no,0,11,12,14
327,GP,F,18,U,GT3,T,3,2,other,services,...,7,13,13,14,0,no,4,14,16,17
328,GP,M,18,R,GT3,T,4,3,teacher,services,...,9,16,15,16,0,no,4,15,14,17
329,GP,M,18,U,GT3,T,4,3,teacher,other,...,0,10,10,9,0,no,0,14,13,14
330,GP,F,17,U,GT3,T,4,3,health,other,...,0,13,15,15,0,no,0,11,12,13

In [ ]:
def drop_columns(df:pd.DataFrame):
    mantain_columns = ["sex", "age", "address", "internet", "Medu", "Fedu", "famrel", "health", "reason", "higher", "traveltime", "studytime", "paid_mat", "paid_por", "failures_mat", "failures_por", "absences_mat", "absences_por",  "G1_mat", "G1_por", "G2_mat", "G2_por", "G3_mat", "G3_por"]
    return df[mantain_columns]

df = drop_columns(df)
display(df)

,sex,age,address,internet,Medu,Fedu,famrel,health,reason,higher,...,failures_mat,failures_por,absences_mat,absences_por,G1_mat,G1_por,G2_mat,G2_por,G3_mat,G3_por
0,F,18,U,no,4,4,4,3,course,yes,...,0,0,6,4,5,0,6,11,6,11
1,F,17,U,yes,1,1,5,3,course,yes,...,0,0,4,2,5,9,5,11,6,11
2,F,15,U,yes,1,1,4,3,other,yes,...,3,0,10,6,7,12,8,13,10,12
3,F,15,U,yes,4,2,3,5,home,yes,...,0,0,2,0,15,14,14,14,15,14
4,F,16,U,no,3,3,4,5,home,yes,...,0,0,4,0,6,11,10,13,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,F,18,U,yes,2,3,4,3,course,yes,...,0,0,4,0,11,11,10,12,10,14
327,F,18,U,yes,3,2,5,1,other,yes,...,0,0,7,4,13,14,13,16,14,17
328,M,18,R,yes,4,3,5,4,course,yes,...,0,0,9,4,16,15,15,14,16,17
329,M,18,U,yes,4,3,5,5,course,yes,...,0,0,0,0,10,14,10,13,9,14
330,F,17,U,yes,4,3,4,4,reputation,yes,...,0,0,0,0,13,11,15,12,15,13

In [33]:
df.to_csv("student-db/student.csv")